
services:
  postgres:
    image: postgis/postgis:latest
    container_name: postgres-users
    environment:
      POSTGRES_USER: ${DB_USER} 
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d trackingdb"]
      interval: 5s
      timeout: 5s
      retries: 5


  zookeeper:
    image: zookeeper:3.8.2
    container_name: zookeeper-users
    ports:
      - "2183:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2183
      ZOOKEEPER_TICK_TIME: 2000


  kafka:
      image: wurstmeister/kafka:2.13-2.8.1
      container_name: kafka-users
      ports:
        - "9093:9092"
      environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      depends_on:
        - zookeeper
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock